body,div,ul,li,a,h4,span {	margin: 0px;padding:0px;font-family: "黑体";list-style:none;}

.container{margin:0 auto;width:1000px;background: url("../images/bgrund.gif") repeat-x top;}
.header{margin:0 auto;width:1000px;height:95px;padding-bottom: 20px;border-top:5px solid #797479;background: url("../images/bgrund.gif") repeat-x top;}
.toplogo{float:left;}
.nav{padding-left:14px;float:right;width:424px;height:30px;margin:47px 12px 18px 0px;background: url("../images/nav.png") no-repeat;}
.nav ul{list-style:none;}
.nav ul li{background:url("../images/bgrund_02.gif") no-repeat scroll right center;padding-left:10px;padding-right:10px;margin-top:8px;float:left;	font-size:12px;}
.nav a:link,.nav a:visited{color:#565656;text-decoration:none;}
#summary{margin: 0 auto;width:1000px;height:456px;border-bottom:5px solid #dedcdc;position:relative;}
#nav_img li{display: none;}
#nav_img .show{display: block;}
#nav{width:150px;margin:0 auto;height:30px;padding-top: 10px;position: absolute;right:0px;bottom: 40px;}
#nav li{float: left;width:20px;height: 20px;margin:0 5px;line-height: 20px;text-align: center;background: #e6f2fa;border-radius:10px;}
#nav .nav_check{background:#5df8fa;}
#prev{display:block;width:62px;height:95px;position: absolute;left:0px;top:200px;z-index:1;}
.dos{display:block;width:201px;height:52px;position: absolute;left:0px;bottom:0px;z-index:1;}
#prec{display:block;width:60px;height:95px;position: absolute;right:0px;top:200px;z-index:1;}
.img{background:#fff;width:980px;height:245px;margin:0 auto;padding-left:20px;}
.img img{padding-top:24px;margin-right:5px;}
.img a:link,.img a:visited{opacity:0.3;}
.img a:hover,.img a:active{opacity:1;}


.content{width:1000px;height:290px;margin:0 auto;font-size:12px;}
.content h4{padding-bottom: 8px;margin-bottom:26px;color:#5e5e5e;font-weight:normal;border-bottom: 1px solid #e9e9e9;}
.content p{font-size:12px;background:url("../images/icon.gif") no-repeat scroll left center;	padding-left: 22px;}
.content ul li{padding-left:20px;width:310px;height:243px;float: left;}
.content span{color:#777777;text-indent: 2em;line-height:22px;display:block;}
.list a:link ,.list a:visited{color:#777777;text-decoration:none;}
.dynamic p{margin-bottom:3px;}
.dynamic span{padding-bottom: 9px;}
.dynamic a:link,.dynamic a:visited{color:#000000;text-decoration:none;}
.tips{background: url("../images/tips.gif")repeat-x bottom;}
.intro img{margin-top: 15px;}
.list img{margin-top:61px;}
.dynamic img{margin-top:15px; }
.list a:hover,.list a:active{color:#340b0b;}
.intro a:link,.intro a:visited{color:#7eca24;}


.footer{background:url("../images/footer.gif") no-repeat;width:1000px;height:169px;margin:0 auto;}
.slogo{float:left;width:179px;height:71px;}
.subnav{width:412px;height:135px;float: right;}
.subnav ul li{background:url("../images/icon_02.gif") no-repeat scroll right center;margin-top: 34px;padding-left:10px;padding-right:10px;float:left;font-size:12px;}
.subnav span{float:right;padding-top: 3px;font-size:12px;	font-family: "雅黑"; padding-right:10px;}
.subnav a:link ,.subnav a:visited{color:#787674;text-decoration:none;}
.subnav span a:link ,.subnav span a:visited{color:#787674;text-decoration:underline;}
.subnav a:hover ,.subnav a:active,.nav a:hover,.nav a:active{color:#000000;text-decoration:none;}
.none{background:none !important;}