body,div,ul{
	background:#fff;
	font-family:"黑体";
	margin:0px;
	padding:0px;
	font-size:12px;
}
div ul{
	list-style:none;
}
a:link,a:visited{
	color:#000;
	text-decoration:none;
}
a:hover,a:active{
	color:#666;
	text-decoration:underline;
}
.none{
	background-image: none !important;
}
.container{
	width:100%;
	margin:0 auto;
}
.header{
	width:100%;
	height:119px;
}
.box{
	top:0px;
	width:1150px;
	margin:0 auto;
}
.logo{
	float:left;
	width:30%;
}
.nav{
	float:right;
	padding-top:10px;
}
.nav p{
	font-size:14px;
	text-align:right;
	line-height:40px;
	padding-right:20px;
}
.nav p a{
	color:#23b34c;
}
.nav ul li a{
		color:#000;
}
.nav ul li{
	float:left;
	background:url("../images/nav_bg.gif") no-repeat scroll right center;
	padding-left:10px;
	padding-right:20px;
	font-size:14px;
}
.ad{
	width:1150px;
	height:180px;
	margin:0 auto;
	margin-bottom: 6px;
}
.list{
	margin-top:2px;
	width:1150px;
	margin:0 auto;
	height:41px;
}
.list ul{
	height:41px;
}
.list ul li{
	float:left;
	width:228px;
	height:41px;
	margin:2px 2px 0px 0px;
	background:#cccccc;
	text-align:center;
}
.list ul li a{
	font-size:18px;
	line-height:41px;
	display:block;
	color:#fff;
	text-decoration:none;
}
.list ul li a:hover,.list ul li a:visited{
	color:#fff;
	background-color:#ffa72b; 
}
.vessel{
	width:1150px;
	margin:0 auto;
}
.vbox{
	width:1300px;
	float:left;
}
.vbox ul li{
	border-width:360px;
	border-height:303px;
	border:solid 1px #cccccc;
	float:left;
	margin-top: 18px;
	margin-right: 32px;
	text-align: center;
}
.leaf{
	width:100%;
	height:34px;
}
.page{
	width:500px;
	height:34px;
	margin:0 auto;
}
.page ul{
	height:34px;
	padding-top:28px;
}
.page ul li{
	float:left;
	padding-top:28px;
	margin-right:5px;
}
.footer{
	width:100%;
	margin:0 auto;
	float:left;
	margin-bottom: 10px;
	margin-top:28px;
	font-size: 14px;
}
.lent{
    width:1150px;
    margin: 0px auto;
    padding-top: 20px;
    height:39px;
	border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
}
.lent ul li{
	list-style: outside none none;
	float:left;
}
.lent ul li a{
	font-size:14px;
	padding-left: 7px;
	padding-right: 10px;
	background: transparent url("../images/footer_nav.gif") no-repeat scroll right center;
	color: #F60;
}
.footer_new{
	width: 1150px;
	margin: 0 auto;
	padding-bottom: 30px;
	height:51px;
}
.name{
	float: left;
	font-size: 12px;
	padding-top: 6px;
	margin-right: 10%;
}
.beian{
	float: left;
    padding-top: 6px;
}
.share{
	float: right;
    font-size: 12px;
}
.share li{
	float:left;
}
.chare{
	clear: both;
}
