#container{
	background:#fff;
	width:1440px;
	margin:0 auto;
}
.header{
	background-color: #FBFBFB;
	width:1440px;
	height:122px;
	margin:0 auto;
}
.engert{
	top:0px;
	width:1150px;
	margin:0 auto;
}
.logo{
	float:left;
	width:30%;
}
.navas{
	float:right;
	padding-top:10px;
}
.navas p{
	font-size:14px;
	text-align:right;
	line-height:40px;
	padding-right:20px;
}
.navas p a{
	color:#23b34c;
}
.navas ul li a{
		color:#000;
}
.navas ul li{
	float:left;
	background:url("../images/nav_bg.gif") no-repeat scroll right center;
	padding-left:10px;
	padding-right:20px;
	font-size:14px;
}







.footer{
	margin:0 auto;
	margin-top:10px;
	width: 80%;
	margin-bottom: 10px;
	font-size: 14px;
	 border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
}
.navr{
    width: 80%;
    padding-top: 20px;
    height:39px;

}
.navr ul li{
	list-style: outside none none;
	float:left;
}
.navr ul li a{
	font-size:14px;
	padding-left: 7px;
	padding-right: 10px;
	background: transparent url("../images/footer_nav.gif") no-repeat scroll right center;
	color: #F60;
}
.footer_new{
	width: 80%;
	margin: 0px auto;
	padding-bottom: 30px;
	height:51px;
}
.name{
	float: left;
	font-size: 12px;
	padding-top: 6px;
	margin-right: 10%;
}
.beian{
	float: left;
    padding-top: 6px;
}
.share{
	float: right;
    font-size: 12px;
}
.share li{
	float:left;
}
.chare{
	clear: both;
}
.none{
	background:none !important;
}