.centent{background:url(../images/index_08.gif) repeat-x;width:914px;height:508px;margin:0 auto;}
.gbook{width:618px;height:491px;padding:19px 0 0 18px;}
.gbook h3{font-weight:bold;line-height:26px; color:#3366cc;  width:146px;height:26px;background:url(../images/index_09.gif) repeat-x;border-style:solid solid none;;border-width: 1px 1px medium;border-color: #cccccc;}
.gbook h3 span{color:#999;}
.table{width:619px;height:452px;border-top:1px solid #cccccc;padding-top:13px;color:#666666;}
.table input{width:152px;height:21px;border:1px solid #cccccc;}
.table textarea{width:540px;height:135px;border:1px solid #cccccc;}
.sub input{background:url(../images/index_09.gif) repeat-x;width:84px;height:25px;border:1px solid #7db5de;color:#35a6d3;}