.centent{background:url(../images/index_08.gif) repeat-x;width:914px;height:587px;margin:0 auto;}
.product{width:628px;height:550px;padding:19px 0 0 18px;}
.product h3{font-weight:bold;line-height:26px; color:#3366cc;  width:146px;height:26px;background:url(../images/index_09.gif) repeat-x;border-style:solid solid none;;border-width: 1px 1px medium;border-color: #cccccc;}
.product h3 span{color:#999;}
.product_l{width:628px;height:512px;border-top: 1px solid #cccccc;padding-top:10px;}
.product_img{width:628px;height:152px;}
.unit{width:148px;height:152px;padding-right: 8px;}
.unit_img{width:148px;height:109px;}
.unit_img img{width:146px;height:107px;border:1px solid #cccccc;}
.ming{width:148px;height:41px;}
.ming p{line-height: 41px;color:#666666;padding-left: 56px;}
.but{width:;height:52px;padding-left:200px;}
.but ul li{float:left;padding-right:8px;}